/* Define the global or root variable */

:root{
    --primaryColor:#213555;
    --backgroundColor:#fbecd4;  
    --primaryAccentColor:#4F709C;
    --secondoryColor:#D8c4B6;
    --whiteColor:white;
    --blackColor:#222222;
    --primaryFont:'Open Sans', sans-serif;
    --navbarHeight:3rem;
    --cursiveFont:'Pacifico',cursive;

}

/* Main CSS */
body{
    background-color: var(--backgroundColor);
    color:var(--primaryColor);
    font-family: var(--primaryFont);
    
}

a{
    text-decoration: none;
    color: var(--primaryColor);
}

a:hover{
    color: var(--primaryAccentColor);

}

/* navigation bar */
.navigation{
    background-color: var(--whiteColor);
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-around;
    align-items:center ;
    filter: drop-shadow(0px 5px 10px grey);
   
}

.logo{

    padding-left:20px;
    width: 12rem;
    display: flex;
    align-items: center;
}

.logoImage{
    padding: 8px;
    height: 2rem;
    /* float: left; */
}

.contactImage{
    height: 2rem;
    padding: 8px 20px;
}

.menuItems{
    flex-grow: 5;
}

.menuItem{
    margin-left: 20px;
}

/* Banner */

.banner{
    display: flex;
    height: 450px;
    background: linear-gradient(
        45deg,
        var(--secondoryColor),
        var(--primaryAccentColor)
    );
    filter: drop-shadow(0px 5px 10px grey); /*x,y,radius,color*/
    justify-content: space-around;
    align-items:center ;
    padding: 20px;
}

.bannerLeft{
    /* flex-grow: 2; */
    width: 50%;
   
}
   
.bannerImage{
    height: 300px;
    border-radius: 200%;
    width: 300px;
}

.greeting{
    font-family: var(--cursiveFont);
    font-size: 30px;
}
.title{
    font-size: 2.5em;
    color: var(--whiteColor);
   
}
.titleSpan{
    display: inline-block;
    background:#213555;
    padding: 0.5rem;
    margin: 5px 0px;
    
}

.description{
    margin: 30px 0px;
    line-height: 2rem;
}

.showCVButton{
    background:linear-gradient(white,rgb(205,205,205),rgb(215,215,215)) ;
    padding: 10px 15px;
    border-radius: 5px;
    filter:drop-shadow(5px 5px 3px grey) ;
}
.showCVButton:hover{
    background:linear-gradient(white,rgb(215,215,215))
}

/* services section */

.services{
    margin: 5rem;
    /* padding: 30px 30px; */
}
.serviceText{
    text-align: center;
    text-transform: uppercase;

}

.textSubHeading{
    color: var(--primaryAccentColor);
    letter-spacing: 0.4rem;
    font-size: 1.25rem;
}

.textHeading{
    font-size: 2.5rem;
    font-weight: bold;

}

.serviceCards{
    margin-top: 30px;
    display: flex;
}

.serviceCard{
    margin: 15px;
    border: 2px solid grey;
    border-radius: 2px;
    padding: 40px;
    filter: drop-shadow(1px 1px 2px #aaaaaa);
    background-color: white;
    justify-content: space-around;
}
.serviceCard:hover{
    background-color: white;
    filter: drop-shadow(3px 3px 8px grey);
}


.serviceIcon{
    color: white;
    display: inline-block;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 1rem;
    background-color: var(--primaryAccentColor);
}
.serviceTitle{
   font-size: 1.75rem;
   margin: 20px 0px;
}

.serviceFeature{
    font-size: 1rem;
    margin:10px 0px;
}

.serviceFeatureIcon{
    font-size: 1rem;
    color: grey;

}


