/* universal selector */
*{
    margin:5%
}
/* type selector */
body{
    color: lavender;
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* class selector */
.first {
    color:black;
}

.large{
    font-size: 30px;
}

/* id selector */
#eklist{
    background-color: brown;
}

/* attribute selector */
 a[href="upflairs.com"]{
    color:blue;
    text-decoration: none;
 }

input[type="text"]{
    background-color: blue;
    color: white;
}

/* pseudo selector */
.first:hover{
    color:aqua;
}